<%- include('parts/header')%>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    </head>

    <body>

        <div class="container">
            <div class="row">

                <div class="d-flex justify-content-center">
                    <form method="get" action="signin" class="box">
                        <div class="mt-5">
                            <ul>
                                <li>E</li>
                                <li>I</li>
                                <li>R</li>
                                <li>A</li>
                                <li>Q</li>
                            </ul>
                        </div>
                        <div>
                            <a class=" btn btn-outline-primary w-100 my-2 border-2 rounded-pill text-light " type="submit" href="joinmeeting">Join a Meeting</a>
                            <br>
                            <input class="btn btn-outline-primary w-100 my-2 border-2 rounded-pill text-light" type="submit" value="Sign In">
                        </div>
                    </form>
                </div>
            </div>

        </div>



    </body>

    </html>